@model lamlai_web_dulich.Models.TourDuLich

@{
    Layout = "~/Areas/Admin/Views/Shared/layoutadmin.cshtml";
}


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
<div class="form-horizontal">
    <h4>TourDuLich</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)





    <div class="form-group">
        <label>Tên tour</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Lịch định kỳ</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LichDinhKy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LichDinhKy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Địa điểm</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaDiem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaDiem, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />

    <div class="form-group">
        <label>Số ngày đi tour</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoNgayDiTour, new { htmlAttributes = new { @class = "form-control", type = "number" } })
            @Html.ValidationMessageFor(model => model.SoNgayDiTour, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Số người tối đa</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoNguoiToiDa, new { htmlAttributes = new { @class = "form-control", type = "number" } })
            @Html.ValidationMessageFor(model => model.SoNguoiToiDa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Giá tour</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaTour, new { htmlAttributes = new { @class = "form-control", type = "number" } })
            @Html.ValidationMessageFor(model => model.GiaTour, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />

    <div class="form-group">
        <label>Tỉnh</label>
        <div class="col-md-10">
            <select name="idTinh">
                @foreach (var item in new lamlai_web_dulich.Models.mapTinhThanh().DanhSach())
                {
                    <option value="@item.ID_Tinh" @Html.Raw(item.ID_Tinh == Model.idTinh ? "selected" : "")>@item.Ten</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Loại tour</label>
        <div class="col-md-10">
            <select name="idLoaiTour">
                @foreach (var item in new lamlai_web_dulich.Models.mapLoaiTour().DanhSach())
                {
                    <option value="@item.ID" @Html.Raw(item.ID == Model.idLoaiTour ? "selected" : "")>@item.Ten</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Mức giá</label>
        <div class="col-md-10">
            <select name="id_MucGia">
                @foreach (var item in new lamlai_web_dulich.Models.mapMucGia().DanhSach())
                {
                    <option value="@item.ID" @Html.Raw(item.ID == Model.id_MucGia ? "selected" : "")>@item.Gia</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Bài Viết</label>
        <div class="col-md-10">
            <textarea name="BaiViet" id="txtBaiViet" class="form-control">@Model.BaiViet</textarea>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "DanhSach")
    </div>

    <script>
    CKEDITOR.replace("txtBaiViet")
    </script>